header {
  background-color: #88f;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 140%;
}
