@import url(./3-1base.css);

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: .5rem 0 .5rem 0;
}

header>nav>menu {
  display: flex;
  gap: 1rem;
}

body>nav[aria-label*="categorias"] {
  grid-area: menu;
}

nav[aria-label*="categorias"] menu {
  display: flex;
  align-items: center;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

main>article {
  display: flex;
  flex-direction: column;
}

article p.description {
  flex-grow: 1;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-areas:
      "header header"
      "menu main"
      "menu footer";
  }

  nav[aria-label*="categorias"] menu {
    flex-direction: column;
  }

  header menu li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    justify-content: space-evenly;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    justify-content: center;
    gap: 2rem;
  }

}