.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  /* box-shadow: 3px 3px 10px lightgray; */
}

.header span:nth-child(2) {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.header span:nth-child(3) {
  font-size: 2rem;
}