.post-comment {
  display: flex;
  gap: 5px;
  place-items: center;
}

.post-comment input {
  flex-grow: 1;
  padding: .5rem;
}

.post-comment span:first-child {
  font-size: 1.5rem;
}

.post-comment span:last-child {
  font-size: .8rem;
  color: gray;
}

.post-comment span {
  cursor: pointer;
}