.user {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: azure;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
}

.user .age-tag {
  color: blak;
  background-color: goldenrod;
  font-weight: bold;
  font-size: .8rem;
  position: absolute;
  top: 20px;
}