.user-location {
  margin-top: .2rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.user-location h3 {
  color: cadetblue
}

.user-location p {
  text-align: center;
}