.semaforo {
  width: 30px;
  height: 85px;
  border: solid 1pt black;
  background-color: orange;
  margin-left: 10px;
}

.semaforo div {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 2px;
}

.semaforo .rojo {
  background-color: #400;
}

.semaforo .amarillo {
  background-color: #530;
}

.semaforo .verde {
  background-color: #040;
}

/*clases evaluando el parametro que le pasaron*/

.semaforo .rojo.active {
  background-color: #f00;
}

.semaforo .amarillo.active {
  background-color: #ff0;
}

.semaforo .verde.active {
  background-color: #0f0;
}