.tabs,
.contenido {
  width: 100%;
  margin-top: 20px;
}

.tabs .tab {
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.tabs .tab.active {
  background-color: lightsalmon;
}