* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

header {
  position: relative;
  width: 100%;
  height: 400px;
}

header>h1 {
  display: none;
}

#header-imgFondo {
  opacity: .3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

#top-header form {
  display: flex;
  align-items: center;
}

#top-header #logo {
  max-width: 100px;
  margin-left: 1.5rem;
}

.idioma,
#sesionBtn {
  margin-right: 1rem;
  padding: .4rem .6rem;
}

input {
  padding: .4rem .6rem;
  width: 300px;
}

header #middle-header {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 130px;
}

h2 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles {
  border-top: 2pt solid gray;
  border-bottom: 2pt solid gray;
  border-collapse: collapse;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: .6rem;
}

.articles .article_txtWrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .6rem;
}

main article img {
  max-width: 300px;

}

#article3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .8rem;
  gap: .3rem;
}

.section-faq {
  background-color: #222;
  border: 1pt solid black;
  padding: 1rem;
  line-height: 1.2rem;
  width: 80%;
}

.section-faq>p {
  padding-top: .8rem;
}

.section-faq_encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconoFAQ {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: .8rem 0;
  text-align: center;
  margin: 0 auto;
}

.btn-container>div {
  margin: .5rem 0;
}

#main-footer {
  border-top: 2pt solid gray;
  padding: 1.5rem;
  opacity: .6;
}

#main-footer p:last-child {
  margin: .8rem 0;
}

a {
  text-decoration: none;
  color: white;
}

#main-footer_menu {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

#main-footer ul li {
  padding: .5rem 0;
  list-style-type: none;
}