/* ****SEMANA 2 - EJERCICIO 1********* */
/* Primera lista  */
ul.lista {
  display: flex;
  list-style: none;
  gap: 10px;
}

ul.lista li:first-child::after {
  content: "😀";
}

ul.lista li:nth-child(2)::after {
  content: "😎";
}

ul.lista li:nth-child(3)::after {
  content: "🥰";
}

ul.lista li:nth-child(4)::after {
  content: "😚";
}

ul.lista li:nth-child(5)::after {
  content: "😁";
}

ul.lista li:last-child,
ul.lista li:last-child::after {
  background-color: rgb(0, 0, 255);
  content: "😋";
}

ul.lista li:nth-child(odd) {
  text-decoration: underline green;
}

ul.lista li:lang(en) {
  font-size: 2em;
  text-transform: uppercase;
}

/* Segunda lista */
ul#provincias li:not(:nth-child(2)) {
  list-style-type: lower-roman;
}