/* ****SEMANA 2 - EJERCICIO 2********* */
/* Lista */
body {
  font-family: "sans-serif";
}

header h1 {
  background-color: #3b83bd;
  color: white;
  text-align: center;
  padding: .3rem;
}

main section h2 {
  color: #3b83bd;
}

main section ul li {
  list-style-type: circle;
}

ul li.importante {
  font-weight: bold;
  text-decoration: underline;
}

/* La Tabla */
table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

th {
  background-color: #3b83bd;
}

thead tr:first-child th {
  color: white;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: aliceblue;
}

th,
td {
  border: 2pt solid white;
  padding: .3rem;
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;

}