* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Versión móvil  */
body {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 1.5rem 1rem .8rem 1rem;
}

header h1,
h2,
p {
  margin: .2rem 0;
}

header p {
  font-size: .8rem;
}

h3 {
  border-bottom: solid 1pt dimgray;
  color: dimgray;
  margin: 1rem 0 .6rem 0;
  font-size: 1.5rem;
}

section {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

section p {
  padding: .5rem 0;
}

img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 599px;
}

form input,
textarea {
  margin-bottom: .6rem;
  padding: .5rem;
  background-color: dimgray;
  color: white;
  font-weight: 500;
}

form button {
  width: 75px;
  padding: .5rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

/* Versión escritorio */
@media (min-width: 600px) {

  header h1,
  h2,
  p {
    padding: .2rem .2rem .2rem 1.5rem;
  }

  header p {
    font-size: 1rem;
  }

  section {
    width: 75%;
    line-height: 1.5rem;
  }

  img {
    float: right;
    padding: .5rem 0 .5rem .5rem;
    max-width: 100%;
  }

  section p:first-child {
    float: left;
  }

  section:last-child {
    clear: both;
  }

  form button {
    width: 100px;
  }
}