#miFoto {
  width: 150px;
  border-radius: 40%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding-right: 10px;
  list-style-type: none;
}

.iconos-proyecto {
  width: 45px;
}

.img-proyecto {
  width: 100px;
}