.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: deepskyblue;
  padding: 1rem;
}

.footer p {
  width: 100%;
  text-align: center;
}

.footer p:not(:last-child) {
  border-right: 1pt solid gainsboro;
}