.search-card {
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  padding: 1rem;
  background-color: gainsboro;
  flex-grow: 1;
}

.search-card img {
  width: 30px;
}

.search-card h3 {
  font-size: 1rem;
}

.search-card:nth-child(odd) {
  background-color: green;
}