* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .7rem;
  background-color: black;
}

.mobile-hidden {
  display: none;
}

header>nav>img {
  width: 20px;
  cursor: pointer;
}

header>nav>img:hover {
  width: 23px;
}

h1,
main>#ver-y-comprar>h2 {
  display: none;
}

h2 {
  font-size: 3.5rem;
}

main .articles-iphone {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

main .articles-iphone ul {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

main #article-iphone-pro {
  background-color: #f0f7f4;
}

main #article-iphone-pro ul li a,
footer>p:first-of-type a {
  color: blue
}

main #article-iphone-13 {
  background-color: #37273D;
  color: white;
}

main #article-iphone-13 ul li a {
  color: lightpink
}

.hero-img {
  width: 80%;
  height: 120px;
}

.hero-img>img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

main>#ver-y-comprar {
  color: white;
  padding: .7rem 1.5rem .7rem .7rem;
}

main article .wrapper-cerrar-icon {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

main article .cerrar-icon {
  cursor: pointer;
}

#ver-y-comprar ul#primera-lista li {
  margin: .8rem 0;
  padding: .2rem 0 .2rem 1rem;
}

#ver-y-comprar ul#primera-lista li a,
footer,
footer a {
  color: gray;
}

#ver-y-comprar ul:not(#primera-lista) {
  padding: 1rem;
  border-top: 1pt solid gray;
  border-bottom: 1pt solid gray;
}

/* Footer  */
footer {
  font-size: .9rem;
  margin: 1rem 0 1.5rem 0;
  padding: 0 .8rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer>ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

footer>ul>li {
  padding-right: .5rem;
  border-right: 1pt solid gray;
}

@media (min-width: 800px) {
  nav {
    padding: 0 1.2rem;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  nav>ul#lista-menu {
    display: flex;
    gap: 2rem;
  }

  .hero-img {
    width: 100%;
    height: 300px;
  }

  #ver-y-comprar {
    display: flex;
    justify-content: space-evenly;
  }

  #ver-y-comprar ul:not(#primera-lista),
  #ver-y-comprar ul#primera-lista li {
    border: none;
    padding: 0;
  }


  #ver-y-comprar ul>li {
    margin: .8rem 0;
  }

  #ver-y-comprar ul>li>a {
    color: gray;
  }

  footer {
    width: 95%;
    margin: 0 auto;
  }

  footer>p:first-child {
    border-bottom: 1pt solid gray;
    padding-bottom: .5rem;
  }

  footer>div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  footer>ul:last-child {
    flex-wrap: nowrap;
    margin-bottom: .5rem;
  }

  footer>ul:last-child>li:last-child {
    border-right: none;
  }
}