#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.office-card,
.ditto-card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 3px grey;
  background-color: #1c1c1c;
  color: white;
  border-radius: 5px;
}