.office-card .office-status.open {
  color: green;
}

.office-card .office-status.closed {
  color: red;
}

.office-card .category {
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover */
}

.office-card .category.it {
  background-image: url(/ordenador-portatil.png);
}

.office-card .category.sales {
  background-image: url(/money-management.png);
}

.category.factory {
  background-image: url(/fabrica.png);
}